{% extends 'layout.html'%} {% block content %}

<h1>Password Generator</h1>
<p>
  Project developed in Python under django to exercise the development in this
  language, original idea of ​<a
    href="https://faztweb.com/"
    target="_blank"
    rel="noopener noreferrer"
    class="text-decoration-none text-light"
    >​FaztWeb.</a
    
  >
</p>
<p>
  Ezequiel Romera
  ​<a
    href="https://github.com/ezerom77"
    target="_blank"
    rel="noopener noreferrer"
    class="text-decoration-none text-light"
    >
    <br> 
    github.com/ezerom77</a
  >
</p>

{% endblock %}
